/* #698EFF Blue
#FC395C Red 
#00ED95 Green
#E1E1E1 White 
#4E2AFF Purple
#ffb700 Orange */

.Checklist {
    margin-top: 30px;
}

.checklist-section {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 800px;
    height: 435px;
    padding: 10px;
    margin-top: 30px;
    direction: rtl;
}

.checklist-section::-webkit-scrollbar {
    width: 5px; 
}

.checklist-section::-webkit-scrollbar-track {
    background: #698EFF;
    border-radius: 5px; 
}

.checklist-section::-webkit-scrollbar-thumb {
    background: #E1E1E1; 
    border-radius: 5px; 
    height: 50px; 
}


h2.checklist-title {
    display: flex;
    color: #698EFF;
    flex-direction: column;
    align-items: center;
}

li {
    border: 3px solid #698EFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    direction: ltr;
    align-items: flex-start;
}
  
label {
    display: flex;
    font-family: 'Orbitron';
    color: #E1E1E1;
    flex-direction: row;
    font-size: large;
    margin-left: 5px;
}

button.delete {
    margin-top: 5px;
    margin-left: -3px;
    margin-bottom: -3px;
    width: 775px;
    height: 50px;
    font-size: large;
    font-family: 'Orbitron';
    background-color: black;
    color: #698EFF;
    border: 3px solid #698EFF;
}

button.delete:hover {
    color: #FC395C;
    border: 3px solid #FC395C;
}
