Main {
    margin-top: -20px;
    display: flex;
    width: 1280px;
  }
  
  h2,
  h3,
  p {
    font-family: 'Orbitron';
    font-weight: 200;
  }
  
  @media (max-width: 768px) {
    Main {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px; 
    }
  }
  

  @media (max-width: 480px) {
    Main {
      width: 100%;
      margin-top: 0; 
    }
  }
  

