.Track-Display {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.track-details {
    margin-top: 65px;
    display: flex;
    width: 480px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.title {
    margin: 5px;
    color: #FC395C;
}

.album-big {
    border: 3px solid #FC395C;
    width: 300px;
}

p.text {
    margin: 5px;
    font-size: large;
}

h3.display-message {
    width: 460px;
    display: flex;
    color: #FC395C;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.track-info {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media (max-width: 768px) {
    .Track-Display {
        width: 400px; 
    }

    .track-details {
        margin-top: -15px;
        margin-bottom: -65px;
        display: flex;
        width: 240px;
        margin-left: 80px;
        flex-direction: row;
        justify-content: space-between;
    }

    .album-big {
        width: 250px;
     
    }

    h3.display-message {
        margin-top: 100px;
        width: 620px;
        display: flex;
        align-items: center; 
    }

    .track-info {
        margin-left:30px;
        width: 300px; 
    }
}

@media (max-width: 480px) {
    .Track-Display {
        width: 300px; 
    }

    .track-details {
        margin-bottom: 60px;
    margin-top: 50px;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
    }

    .album-big {
        width: 200px; 
    }

    h3.display-message {
        margin-left: 45px;
        width: 260px; 
    }

    .track-info {
        width: 200px; 
    }
}
