/* #698EFF Blue
#FC395C Red 
#00ED95 Green
#E1E1E1 White 
#9055D4 Purple
#ffb700 Orange */

Main { 
    display: flex;
    width: 1280px;
}

h1 {
    margin-top: 15px;
    display: flex;
    font-family: 'Orbitron';
    font-weight: 200;
    color: #FC395C;
    justify-content: flex-end;
}

h2 {
    font-family: 'Orbitron';
    font-weight: 200;
}

h3 {
    font-family: 'Orbitron';
    font-weight: 200;
}

p {
    margin: 5px;
    font-family: 'Orbitron';
}

